@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white overflow-hidden font-sans;
}

/* Custom scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

